{% extends 'layout/layout.html'%} {% load static %} {%block content %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>{{title}}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">{{title}}</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="{% static 'assets/img/1.jpg'%}" alt="Profile" class="rounded-circle">
                        <h2>{{result.libele}} </h2>
                        <h3>{{result.concerne}}</h3>
                        <h3>{{result.Date_arriver}}</h3>
                        {% comment %}
                        <div class="social-links mt-2">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div> {% endcomment %}
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Vue globale</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#Destinateur">Destinataire</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#expediteur">Expéditeur</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#fichiers">Fichier</button>
                            </li>


                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Gestion</button>
                            </li>


                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">Commentaires</h5>
                                <p class="small fst-italic"> {{result.decision}}</p>

                                <h5 class="card-title"> Détails courrier</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Objet</div>
                                    <div class="col-lg-9 col-md-8">{{result.concerne}} </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Référence</div>
                                    <div class="col-lg-9 col-md-8">{{result.reference}} </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Type Courrier</div>
                                    <div class="col-lg-9 col-md-8">{{result.typecourrir}} </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Nature</div>
                                    <div class="col-lg-9 col-md-8">{{result.nature}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Courrier traité</div>
                                    <div class="col-lg-9 col-md-8">{% if result.traiter == True %} OUI /{{result.Date_traitement}}{% else%}NON{%endif%}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Courrier affecté</div>
                                    <div class="col-lg-9 col-md-8">{% if result.afecter == True %} OUI {% else%}Non encore affecté ...{%endif%}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Courrier ajouté par</div>
                                    <div class="col-lg-9 col-md-8">{{result.utilisateur.utilisateur.username}} </div>
                                </div>
                                <div class="row">
                        {% comment %} modal 111 {% endcomment %}
                        <div class="row">
                            <!-- Recent P.M -->
                            <div class="modal fade" id="anotation{{ forloop.counter }}" tabindex="-1">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="card-title">Ajout Annotation</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <form id ="annotationagentcourrier" action="{% url 'postAnnotationCloture' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="codex" value="{{result.codex}}" class="form-control">
  
                                      <div class="modal-body">
                                    
                                        <div class="row mb-3">
                                          <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Votre Annotations</label>
                                          <div class="col-md-8 col-lg-9">
                                            <textarea  style="height: 100px;" name="annotation" class="form-control" placeholder="Votre Message"></textarea>
                                          </div>
                                        </div>
                                        <hr>
                                        <div >
                                          <button type="submit" class="btn btn-primary"> Dossier Traité</button>
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                              </div>
                          </div>
                          {% comment %} /modale 111 {% endcomment %}
                          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#anotation{{ forloop.counter }}">
                            Fermer Dossier
                          </button>
  
                                </div>


                            </div>
                            <!-- Destinateur -->
                            <div class="tab-pane fade pt-3" id="Destinateur">


                                <div class="row">
                                    <div class="col-lg-12 col-md-12 label">

                                        <table class="table table-sm">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    {% if result.client_m != null %}
                                                    <th scope="col">Personne Morale</th>
                                                    {%endif%} {% if result.client_p != null %}
                                                    <th scope="col">Personne Physique</th>
                                                    {%endif%}
                                                    <th scope="col">Autre</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    {% if result.client_m != null %}
                                                    <td><a href="{% url 'detailpersonneMorale' result.client_m.codex %}">{{result.client_m.intitule}}</a></td>
                                                    {%endif%} {% if result.client_p != null %}
                                                    <td><a href="{% url 'detailpersonnePhysique' result.client_p.codex %}">{{result.client_p.nom}}</a></td>
                                                    {%endif%}

                                                    <td>{{result.client_intitule}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <!-- Destinateur -->
                            {% comment %}Expediteur{% endcomment %}
                            <div class="tab-pane fade pt-3" id="expediteur">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 label">

                                        <table class="table table-sm">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    {% if result.client_m_exp != null %}
                                                    <th scope="col">Personne Morale</th>
                                                    {%endif%} {% if result.client_p_exp != null %}
                                                    <th scope="col">Personne Physique</th>
                                                    {%endif%}
                                                    <th scope="col">Autre</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    {% if result.client_m_exp != null %}
                                                    <td><a href="{% url 'detailpersonneMorale' result.client_m_exp.codex %}">{{result.client_m_exp.intitule}}</a></td>
                                                    {%endif%} {% if result.client_p_exp != null %}
                                                    <td><a href="{% url 'detailpersonnePhysique' result.client_p_exp.codex %}">{{result.client_p_exp.nom}}</a></td>
                                                    {%endif%}

                                                    <td>{{result.client_intitule_exp}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% comment %} Expediteur {% endcomment %}
                            
                            <div class="tab-pane fade pt-3" id="fichiers">
                                <div class="pt-2">
                                    <input class="bi bi-upload" type="file" />
                                    <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                    <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade pt-3" id="profile-settings">
                            <!-- Settings Form -->
                            <hr>
                            <center><h5>Agent(s) Affecté(s) Au Dossier</h5></center>
                            <hr>
                              <div class="row">
                                <div class="col-lg-12 col-md-12 label">

                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Nom</th>
                                                <th scope="col">Post-Nom</th>
                                                 
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {% for item in agents%}
                                            <tr>
                                                <th scope="row">#{{ forloop.counter }}</th>
                                                <td><a href="#"> {{item.agent.nom}}</a></td>
                                                <td>{{item.agent.postnom}}</td>
                                            </tr>
                                            {%endfor%}
                                        </tbody>
                                    </table>
                           
                                </div>

                            </div>
                            <hr>
                            <center><h5> Annotation(s)</h5></center>
                            <hr>
                                <div class="row mb-3">
                                    <div class="col-lg-12 col-md-12 label">

                                        <table class="table table-sm">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Source</th>
                                                    <th scope="col">Annotation</th>
                                                     
                                                </tr>
                                            </thead>
                                            <tbody>
                                              {% for item in result.mes_annotation.all%}
                                                <tr>
                                                    <th scope="row">#{{ forloop.counter }}</th>
                                                    <td><a href="#"> {{item.employer.nom}}</a></td>
                                                    <td>{{item.annotation}}</td>
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                        </table>
                               
                                    </div>
                                </div>
 
                      
                            <!-- End settings Form -->

                        </div>


                        <!-- End Bordered Tabs -->


                    </div>

                </div>

            </div>
        </div>
    </section>


</main>
<!-- End #main -->
{% endblock%}