{% extends 'layout/layout.html'%}
{% load static %}
{%block content %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>{{title}}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashbord'%}">Home</a></li>
        <li class="breadcrumb-item active">{{title}}</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
          <!-- Recent P.M -->
          <div class="modal fade" id="physiquePersonne" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="card-title">Ajout courrier</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form action="{% url 'postcourrierEntrant'%}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                              
                                <div class="col-md-6">
                                    <input type="text" name="libele" class="form-control" placeholder="Libele">
                                    <br>
                                </div>       
                                <div class="col-md-6">
                                  <input type="text" name="concerne" class="form-control" placeholder="Concerne">
                                  <br>
                              </div>
                              
                              <div class="col-md-6">
                                <input type="text" name="reference" class="form-control" placeholder="N° Reference">
                                <br>
                            </div>       
                            <div class="col-md-6">
                              <select name="typecourrir" class="form-select" aria-label="Default select example">
                                <option selected>Type Courrier</option>
                                {% for item in typecourrir%}
                                <option value="{{item.id}}">{{item.typecourrir}}</option>
                                {%endfor%}
                            </select>
                              <br>
                          </div>    
                          <div class="col-md-6">
                            <select name="nature" class="form-select" aria-label="Default select example">
                              <option value="" selected>Nature Courrier</option>
                              {% for item in nature%}
                              <option value="{{item.id}}">{{item.nature}}</option>
                              {%endfor%}
                          </select>
                            <br>
                        </div> 
                        <hr>
                        <h6>Destinataire</h6>
                        <hr>
                        <div class="col-md-6">
                          <select name="client_m" class="form-select" aria-label="Default select example">
                            <option value="" selected>Personne Moral</option>
                          {%for item in client_moral%}
                            <option value="{{item.id}}">{{item.intitule}}</option>
                            {%endfor%}
                        </select>
                          <br>
                      </div> 
                          <div class="col-md-6">
                            <select name="client_p" class="form-select" aria-label="Default select example">
                              <option value="" selected>Personne Physique</option>
                              {%for item in client_physique%}
                              <option value="{{item.id}}">{{item.nom}} {{item.postnom}} {{item.prenom}}</option>
                              {%endfor%}
                          </select>
                            <br>
                        </div> 
                        <div class="col-md-6">
                          <input type="text" name="client_intitule" class="form-control" placeholder="S° Autre Provenance">
                           <br>
                      </div> 
                      <hr>
 
                  {% comment %} destinataire {% endcomment %}
                  <hr>
                  <h6>Expediteur</h6>
                  <hr>
                  <div class="col-md-6">
                    <select name="client_m_exp" class="form-select" aria-label="Default select example">
                      <option value="" selected>Personne Moral</option>
                    {%for item in client_moral%}
                      <option value="{{item.id}}">{{item.intitule}}</option>
                      {%endfor%}
                  </select>
                    <br>
                </div> 
                    <div class="col-md-6">
                      <select name="client_p_exp" class="form-select" aria-label="Default select example">
                        <option value="" selected>Personne Physique</option>
                        {%for item in client_physique%}
                        <option value="{{item.id}}">{{item.nom}} {{item.postnom}} {{item.prenom}}</option>
                        {%endfor%}
                    </select>
                      <br>
                  </div> 
                  <div class="col-md-6">
                    <input type="text" name="client_intitule_ex" class="form-control" placeholder="S° Autre Expediteur">
                     <br>
                </div> 
                <hr>

                {% comment %} destinateur {% endcomment %}
                <div class="col-md-12">
                  <textarea  style="height: 100px;" name="decision" class="form-control" placeholder="Commentaire"></textarea>
                  <br>
              </div> 

                    <div class="col-md-12">
                      <button type="submit" class="btn btn-success">Ajouter</button>
                      <br>
                  </div>  
                        </div>
                     
                      </form>
                    </div>
                     
                </div>
            </div>
        </div>
         <!-- Recent  P.M  -->
      <!-- Left side columns -->
      <div class="col-lg-9">
        <div class="row">
          <!-- Recent Sales -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Gestion</h6>
                  </li>

                  <li> <button type="button" class="btn btn-primary dropdown-item" data-bs-toggle="modal" data-bs-target="#physiquePersonne">
                   Nouvel Enregistrement
                  </button></li>
                  <li>

                     
                  </li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Date Arriver</th>
                      <th scope="col">Libele</th>
                      <th scope="col">N° Reference</th>
                      <th scope="col">Anotation</th>
                      <th scope="col">Nature</th>
                      <th scope="col">Affectation</th>
                      <th scope="col">Annotation</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in courrier %}
                    <tr>
                      <th scope="row"><a href="#">#{{ forloop.counter }}</th>
                      <td>{{item.Date_arriver}}</a></td>
                      <td><a href="{% url 'detailCourrier' item.codex %}" class="text-primary">{{item.libele}}</a></td>
                      <td>{{item.reference}}</td>
                      <td>{{item.anotation}}</td>
                      <td><span class="badge bg-success">{{item.nature}}</span></td>
                      <td>
                                                      {% comment %} modal 111 {% endcomment %}
                                                      <div class="row">
                                                        <!-- Recent P.M -->
                                                        <div class="modal fade" id="affecteragent{{ forloop.counter }}" tabindex="-1">
                                                          <div class="modal-dialog">
                                                              <div class="modal-content">
                                                                  <div class="modal-header">
                                                                      <h5 class="card-title">Affectation Tâche</h5>
                                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                  </div>
                                                                  <div class="modal-body">
                                                                    <form id ="affectationagentcourrier" action="{% url 'postAffectationCourrier' %}" method="POST">
                                                                      {% csrf_token %}
                                                                     
                                                                                    <input type="hidden" name="courrier" value="{{item.id}}" class="form-control">
                                                                                    <input type="hidden" name="codex" value="{{item.codex}}" class="form-control">
                                                                          
                                                                                    <select name="agent" class="form-select" aria-label="Default select example">
                                                                                      <option selected>Travaileur</option>
                                                                                      {% for item in listeEmployer%}
                                                                                      <option value="{{item.id}}">{{item.nom}} {{item.postnom}} {{item.prenom}}</option>
                                                                                      {%endfor%}
                                                                                  </select>
                                                                                  <hr>
                                                                                  <button type="submit" class="btn btn-primary">Ajouter</button> 
                                                                    </form>
                                                                  </div>
                                                                   
                                                              </div>
                                                          </div>
                                                      </div>
                                                      {% comment %} /modale 111 {% endcomment %}
                                                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#affecteragent{{ forloop.counter }}">
                                                        Affecter
                                                      </button>
                      
                      </td>
                      <td>
                        {% comment %} modal 111 {% endcomment %}
                        <div class="row">
                          <!-- Recent P.M -->
                          <div class="modal fade" id="anotation{{ forloop.counter }}" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="card-title">Ajout Annotation</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form id ="annotationagentcourrier" action="{% url 'postAnnotation' %}" method="POST">
                                      {% csrf_token %}
                                      <input type="hidden" name="codex" value="{{item.codex}}" class="form-control">

                                    <div class="modal-body">
                                  
                                      <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Votre Annotations</label>
                                        <div class="col-md-8 col-lg-9">
                                          <textarea  style="height: 100px;" name="annotation" class="form-control" placeholder="Votre Message"></textarea>
                                        </div>
                                      </div>
                                      <hr>
                                      <div >
                                        <button type="submit" class="btn btn-primary">Noter</button>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                            </div>
                        </div>
                        {% comment %} /modale 111 {% endcomment %}
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#anotation{{ forloop.counter }}">
                          Anotation
                        </button>

                      </td>
                    </tr>
                    {% endfor %}
                    
                     
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Recent Sales -->

     
        </div>
      </div><!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-3">

        <!-- Recent Activity -->
        <div class="card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
          </div>

          <div class="card-body">
            <h5 class="card-title">Recent Activity <span>| Today</span></h5>

            <div class="activity">

              <div class="activity-item d-flex">
                <div class="activite-label">32 min</div>
                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                <div class="activity-content">
                  Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae
                </div>
              </div><!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">56 min</div>
                <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                <div class="activity-content">
                  Voluptatem blanditiis blanditiis eveniet
                </div>
              </div>
              <!-- End activity item-->
              <div class="activity-item d-flex">
                <div class="activite-label">2 hrs</div>
                <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                <div class="activity-content">
                  Voluptates corrupti molestias voluptatem
                </div>
              </div><!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">1 day</div>
                <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                <div class="activity-content">
                  Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore
                </div>
              </div><!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">2 days</div>
                <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                <div class="activity-content">
                  Est sit eum reiciendis exercitationem
                </div>
              </div><!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">4 weeks</div>
                <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                <div class="activity-content">
                  Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                </div>
              </div><!-- End activity item-->

            </div>

          </div>
        </div><!-- End Recent Activity -->

      </div><!-- End Right side columns -->

    </div>
  </section>

</main>
{% endblock%}

