{% extends 'layout/layout.html'%}
{% load static %}
{%block content %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>{{title}}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashbord'%}">Accueil</a></li>
        <li class="breadcrumb-item active">{{title}}</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
          <!-- Recent P.M -->
          <div class="modal fade" id="physiquePersonne" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="card-title">Ajout Personne Morale</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form action="{% url 'postpersonneMorale'%}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                              
                                <div class="col-md-6">
                                    <input type="text" name="intitule" class="form-control" placeholder="Raison sociale">
                                    <br>
                                </div>       
                                <div class="col-md-6">
                                  <input type="text" name="rccm" class="form-control" placeholder="	N° RCCM">
                                  <br>
                              </div>
                              
                              <div class="col-md-6">
                                <input type="text" name="siren" class="form-control" placeholder="siren">
                                <br>
                            </div>       
                            <div class="col-md-6">
                              <select name="Forme_juridique" class="form-select" aria-label="Default select example">
                                <option value="B50 - Autres Sociétés (AS)">B50 - Autres Sociétés (AS)</option>
                                <option value="B31 - Etablissement public ayant une activité et bénéficiant de l'autonomie juridique et financière">B31 - Etablissement public ayant une activité et bénéficiant de l'autonomie juridique et financière</option>
                                <option value="B12 - Société à responsabilité limitée pluripersonnelle (SARL)">B12 - Société à responsabilité limitée pluripersonnelle (SARL)</option>
                                <option value="B13 - Société à Responsabilité limitée unipersonnelle (SARL unipersonnelle)">B13 - Société à Responsabilité limitée unipersonnelle (SARL unipersonnelle)</option>
                                <option value="B14 - Société anonyme pluripersonnelle (SA)">B14 - Société anonyme pluripersonnelle (SA)</option>
                                <option value="B15 - Société anonyme unipersonnelle (SA unipersonnelle)">B15 - Société anonyme unipersonnelle (SA unipersonnelle)</option>
                                <option value="B42 - Société civile par sa forme et commerciale par son objet (SP)">B42 - Société civile par sa forme et commerciale par son objet (SP)</option>
                                <option value="B41 - Société civile professionnelle (SCP)">B41 - Société civile professionnelle (SCP)</option>
                                <option value="B32 - Société d'économie mixte">B32 - Société d'économie mixte</option>
                                <option value="B30 - Société d'Etat">B30 - Société d'Etat</option>
                                <option value="B10 - Société en commandite Simple (SCS)">B10 - Société en commandite Simple (SCS)</option>
                                <option value="B11 - Société en nom collectif (SNC)">B11 - Société en nom collectif (SNC)</option>
                                <option value="B16 - Société par action simplifiée (SAS)">B16 - Société par action simplifiée (SAS)</option>
                                <option value="B17 - Société par action simplifiée unipersonnelle (SASU)">B17 - Société par action simplifiée unipersonnelle (SASU)</option>
                                <option value="C10 - Groupement d'intérêt économique (GIE)">C10 - Groupement d'intérêt économique (GIE)</option>
                                <option value="C11 - Groupements dotés de la personnalité juridique que la loi soumet à l'immatriculation au RCCM (GDPJLSI)">C11 - Groupements dotés de la personnalité juridique que la loi soumet à l'immatriculation au RCCM (GDPJLSI)</option>
                                </select>
                              <br>
                          </div>    
                          <div class="col-md-6">
                            <input type="datetime-local" name="Date_creation_entreprise" class="form-control" placeholder="Date de création">
                            <br>
                        </div>  
                        <div class="col-md-6">
                          <input type="text" name="Effectifs" class="form-control" placeholder="Effectif">
                          <br>
                      </div>     
                        <div class="col-md-6">
                          <input type="text" name="specialisation" class="form-control" placeholder="Secteur d'activités">
                          <br>
                      </div>
                      
                      <div class="col-md-12">
                        <input type="text" name="adresse" class="form-control" placeholder="Adresse complète">
                        <br>
                    </div>     
                    <div class="col-md-12">
                      <input type="text" name="email" class="form-control" placeholder="E-mail">
                      <br>
                  </div>    
                  <div class="col-md-12">
                    <input type="text" name="tel" class="form-control" placeholder="Téléphone">
                    <br>
                </div>    
                    <div class="col-md-12">
                      <textarea  style="height: 100px;" name="apropos" class="form-control" placeholder="A propos"></textarea>
                      <br>
                  </div> 
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-success">Ajouté</button>
                      <br>
                  </div>  
                        </div>
                     
                      </form>
                    </div>
                     
                </div>
            </div>
        </div>
         <!-- Recent  P.M  -->
      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">
          <!-- Recent Sales -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Gestion</h6>
                  </li>

                  <li> <button type="button" class="btn btn-primary dropdown-item" data-bs-toggle="modal" data-bs-target="#physiquePersonne">
                    Ajouter client
                  </button></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Raison sociale</th>
                      <th scope="col">N° RCCM</th>
                      <th scope="col">Téléphone</th>
                      <th scope="col">E-mail</th>
                      <th scope="col">Secteur d'activités</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in listepersonnep %}
                    <tr>
                      <th scope="row"><a href="#">#{{ forloop.counter }}</a></th>
                      <td><a href="{% url 'detailpersonneMorale' item.codex%}" class="text-primary">{{item.intitule}}</a></td>
                      <td>{{item.rccm}}</td>
                      <td>{{item.telephone}}</td>
                      <td>{{item.email}}</td>
                      <td><span class="badge bg-success">{{item.specialisation}}</span></td>
                    </tr>
                    {% endfor %}
                    
                     
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Recent Sales -->

     
        </div>
      </div><!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">

        <!-- Recent Activity -->
        <div class="card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
          </div>

          <div class="card-body">
            <h5 class="card-title">Recent Activity <span>| Today</span></h5>

            <div class="activity">

              <div class="activity-item d-flex">
                <div class="activite-label">32 min</div>
                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                <div class="activity-content">
                  Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae
                </div>
              </div><!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">56 min</div>
                <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                <div class="activity-content">
                  Voluptatem blanditiis blanditiis eveniet
                </div>
              </div>
              <!-- End activity item-->
              <div class="activity-item d-flex">
                <div class="activite-label">2 hrs</div>
                <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                <div class="activity-content">
                  Voluptates corrupti molestias voluptatem
                </div>
              </div><!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">1 day</div>
                <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                <div class="activity-content">
                  Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore
                </div>
              </div><!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">2 days</div>
                <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                <div class="activity-content">
                  Est sit eum reiciendis exercitationem
                </div>
              </div><!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">4 weeks</div>
                <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                <div class="activity-content">
                  Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                </div>
              </div><!-- End activity item-->

            </div>

          </div>
        </div><!-- End Recent Activity -->

      </div><!-- End Right side columns -->

    </div>
  </section>

</main>
{% endblock%}

